In [2]:
# importing necessary libraries
import numpy as np
import pandas as pd

In [3]:
# import basic libraries
from pandas import Series, DataFrame
from sklearn.model_selection import train_test_split

In [4]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [5]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [8]:
# calculating R square measure
train['Item_Weight'].fillna((train['Item_Weight'].mean()),inplace=True)
train['Outlet_Size'].fillna('small',inplace=True)

In [9]:
# creating dummy variables to convert categorical into numerical values
mylist=list(train.select_dtypes(include=['object']).columns)
dummies=pd.get_dummies(train[mylist],prefix=mylist)
train.drop(mylist,axis=1,inplace=True)
X = pd.concat([train,dummies],axis=1)

In [24]:
X=train.drop('Item_Outlet_Sales',1)

In [25]:
X.head()

   Item_Weight  Item_Visibility  Item_MRP  Outlet_Establishment_Year
0         9.30         0.016047  249.8092                       1999
1         5.92         0.019278   48.2692                       2009
2        17.50         0.016760  141.6180                       1999
3        19.20         0.000000  182.0950                       1998
4         8.93         0.000000   53.8614                       1987

In [26]:
from sklearn.linear_model import LinearRegression
lreg=LinearRegression()

In [27]:
x_train, x_cv, y_train, y_cv =train_test_split(X,train.Item_Outlet_Sales)

In [28]:
lreg.fit(x_train,y_train)

LinearRegression()

In [29]:
pred=lreg.predict(x_cv)
mse=np.mean((pred - y_cv)**2)
mse

1893509.3333597726

In [30]:
print("RMSE: ",np.sqrt(mse))

RMSE:  1376.0484487690733

In [31]:
coeff=pd.DataFrame(x_train.columns)
coeff['Coefficient Estimate']=pd.Series(lreg.coef_)
coeff

                           0  Coefficient Estimate
0                Item_Weight             -2.327127
1            Item_Visibility          -4272.102060
2                   Item_MRP             15.738079
3  Outlet_Establishment_Year            -13.756303